:root {
    --primory: #262F40;
    --secondary: #FF0000;
    --background: #F7F7F7;
    --info: #DBDBDB;
    --link: #0000FF;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
}

.media-size {
    width: 100%;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    background-color: var(--background);
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    height: 88px;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 40px;
}

.logo {
    width: 164px;
    height: 56px;
}

#toggle-menu {
    display: none;
}

.menu-input {
    display: none;
}

.nav-menu-tab {
    display: none;
}

#toggle-menu:checked ~ .dropdown {
    display: block;
}

.dropdown {
    width: 430px;
    height: 64px;
    background-color: var(--background);
    border-bottom: 1px solid rgb(0 0 0 / 30%);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 40px 1rem 40px;
    position: absolute;
    left: 0;
    top: 88px;
    display: none;
}

.dropdown a {
    width: 100px;
    height: 2rem;
    text-decoration: none;
}

.dropdown-button {
    width: 100px;
    height: 2rem;
    border: none;
    color: var(--primory);
    background-color: var(--background);
    font-size: 20px;
    font-weight: 600;
    margin: 0 13px 0 0;
}

footer {
    background-color: var(--background);
    border-top: 1px solid rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
    padding: 24px;
}

.tb-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    height: 564px;
    background-color: var(--background);
}

.footer-sections {
    margin-bottom: 24px;
    background-color: var(--info);
    border-radius: 16px;
    width: 350px;
    height: 270px;
    padding: 24px;
}

.footer-headers {
    font-size: 20px;
    font-weight: 600;
    color: var(--primory);
    margin: 0;
    padding-bottom: 32px;
}

footer p {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primory);
    margin: 0;
    padding-bottom: 1rem;
}

.footer-icons {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.footer-orgnr-blog {
    font-size: 14px;
    font-weight: 600;
    padding-right: 8px;
}

.blog-link {
    font-size: 14px;
    font-weight: 400;
}

.padding-orgnr {
    padding-top: 1rem;
}

.padding-blog {
    padding-top: 56px;
}

footer ul {
    padding: 0 0 0 24px;
    margin: 0;
}

footer li {
    padding-bottom: 16px;
}

.certificates-div {
    display: flex;
    flex-direction: column;
}

.certificate-rk {
    width: 180px;
    height: 40px;
}

.certificates {
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

