:root {
    --primory: #262F40;
    --secondary: #FF0000;
    --background: #F7F7F7;
    --info: #DBDBDB;
    --link: #0000FF;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: var(--background);
    padding: 24px 0 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 198px;
    position: relative;
    background-image: url("assets/images/mountain-one.jpg");
}

.mountain-img {
    width: 350px;
    height: 198px;
    border-radius: 1rem;
    position: absolute;
}

.mountain-guideline {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 210px;
}

.mountain-guideline-desktop {
    display: none;
}

.guideline-btn {
    font-size: 8px;
    font-weight: 600;
    background-color: var(--info);
    color: var(--primory);
    border: 1px solid rgb(0 0 0 / 30%);
    border-radius: 50px;
    width: 40px;
    height: 16px;
}

#top-btn {
    position: absolute;
    z-index: 10;
    top: 61px;
    left: 250px;
}

#break-btn {
    position: absolute;
    z-index: 10;
    top: 141px;
    left: 170px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.section-headers {
    font-size: 20px;
    font-weight: 600;
    color: var(--primory);
    margin: 0;
}

#kilpittsjare {
    padding-bottom: 8px;
}

.info-highlight {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primory);
    padding-left: 1rem;
}

.info-container p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primory);
    margin: 0;
    padding-top: 8px;
}

.rating {
    display: flex;
    align-items: center;
}

.rating-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
}

.book-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-underline {
    height: 1px;
    width: 116px;
    background-color: rgb(0 0 0 / 30%);
}

.book-btn {
    background-color: var(--primory);
    color: var(--background);
    border-radius: 50px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    width: 118px;
    height: 40px;
}

.tour-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.tour-info-text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primory);
    text-align: center;
    margin: 0;
    padding-top: 1rem;
}

.break-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.break-line {
    background-color: rgb(0 0 0 / 30%);
    height: 1px;
    width: 350px;
}

.reviews-container {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-box {
    background-color: var(--info);
    border-radius: 1rem;
    width: 350px;
    height: 274px;
    padding: 24px;
    margin-top: 1rem;
}

#desktop-review {
    display: none;
}

.review-person {
    font-size: 20px;
    font-weight: 600;
    color: var(--primory);
    text-decoration: underline;
    margin: 0;
}

.review-text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primory);
    margin: 0;
    padding-top: 1rem;
}

#review-rating {
    padding-top: 0;
    margin: 0;
}

#review-difficulty {
    padding-top: 0;
    margin: 0;
}

#review-rating-two {
    padding-top: 0;
    margin: 0;
}

#review-difficulty-two {
    padding-top: 0;
    margin: 0;
}

.view-more-btn {
    background-color: var(--info);
    color: var(--primory);
    font-size: 1rem;
    font-weight: 400;
    text-decoration: underline;
    border: none;
    padding: 0;
    margin: 24px 100px 0 100px;
    width: 102px;
    height: 24px;
}

.more-reviews-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

.more-reviews-btn {
    background-color: var(--background);
    color: var(--primory);
    font-size: 20px;
    font-weight: 400;
    border: none;
}

.location-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0 0;
}

.google-maps {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--primory);
    margin: 0;
    padding-top: 8px;
}

#google-maps-link {
    color: var(--link);
    text-decoration: underline;
}

.google-maps-img {
    border-radius: 1rem;
    width: 350px;
    height: 168px;
    margin: 1rem 0 0 0;
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) tablet */
@media (min-width: 768px) {
    .media-size {
        width: 100%;
    }

    .nav-menu-mob {
        display: none;
    }

    .nav-menu-tab {
        display: block;
    }

    .nav-btn {
        width: 140px;
        height: 56px;
        background-color: var(--background);
        color: var(--primory);
        border: none;
        font-size: 20px;
        font-weight: 600;
    }

    .nav-tours {
        width: 140px;
        height: 40px;
        background-color: var(--primory);
        color: var(--background);
        border: none;
        font-size: 20px;
        font-weight: 600;
        border-radius: 50px;
    }

    .tb-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 720px;
        height: 270px;
        padding: 0;
        margin-bottom: 24px;
        background-color: var(--background);
    }

    #tb-row-two {
        margin-bottom: 0;
    }

    .img-container {
        display: flex;
        justify-content: center;
    }

    .mountain-img {
        width: 720px;
        border-radius: 1rem;
    }

    .mountain-guideline {
        left: 280px;
    }

    #top-btn {
        left: 320px;
    }

    #break-btn {
        left: 240px;
    }

    .review-row {
        display: flex;
        justify-content: space-between;
        width: 720px;
    }

    .review-box {
        width: 348px;
    }

    .view-more-btn {
        margin: 24px 99px 0 99px;
    }

    .google-maps-img {
        width: 720px;
        height: auto;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
}

/* xLarge (xl) desktop */
@media (min-width: 1280px) {
    .media-size {
        width: 100%;
    }

    .img-container {
        height: 600px;
    }

    .mountain-img {
        width: 1200px;
        height: 600px;
    }

    .mountain-guideline {
        display: none;
    }

    .mountain-guideline-desktop {
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 300px;
    }

    .guideline-btn {
        font-size: 1rem;
        font-weight: 600;
        width: 146px;
        height: 32px;
    }

    #top-btn {
        top: 198px;
        left: 400px;
    }

    #break-btn {
        top: 441px;
        left: 170px;
    }

    footer {
        flex-direction: row;
    }

    .footer-sections {
        width: 270px;
    }

    .tb-row {
        margin: 0;
        width: 564px;
    }

    #tb-row-two {
        margin-left: 24px;
    }

    .google-maps-img {
        width: 1152px;
        height: auto;
    }

    #desktop-review {
        display: block;
    }

    .review-row {
        width: 1152px;
        height: fit-content;
        padding: 0;
    }

    #review-rating-three {
        padding-top: 0;
        margin: 0;
    }

    #review-difficulty-three {
        padding-top: 0;
        margin: 0;
    }
}

/* xxLarge (xxl) */
@media (min-width: 1536px) {
}
