:root {
    --primory: #262F40;
    --secondary: #FF0000;
    --background: #F7F7F7;
    --info: #DBDBDB;
    --link: #0000FF;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book-img {
    width: 100%;
    height: 198px;
}

.img-breadcrumb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.breadcrumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 40px;
    position: relative;
}

.breadcrumb {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
}

#book-btn {
    background-color: var(--info);
    color: var(--primory);
    border: 1px solid rgb(0 0 0 / 30%);
    position: absolute;
    z-index: 10;
    bottom: 20px;
}

#payment-btn {
    background-color: var(--primory);
    color: var(--background);
    border: none;
    position: absolute;
    bottom: 20px;
    left: 150px;
    z-index: 20;
}

.break-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.break-line {
    background-color: rgb(0 0 0 / 30%);
    height: 1px;
    width: 350px;
}

.personal-container {
    padding: 20px 0 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-container h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primory);
    margin: 0;
    padding-bottom: 8px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-div {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
}

.label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primory);
    padding-bottom: 8px;
    margin: 0;
}

.info-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.name-card-input {
    width: 350px;
    height: 40px;
    border: 1px solid rgb(0 0 0 / 30%);
    background-color: var(--info);
    color: var(--primory);
    border-radius: 1rem;
}

.expire-cv-input {
    width: 165px;
    height: 40px;
    border: 1px solid rgb(0 0 0 / 30%);
    background-color: var(--info);
    color: var(--primory);
    border-radius: 1rem;
}

.checkbox-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 350px;
    padding-bottom: 4px;
}

.checkbox-container p {
    font-size: 14px;
    font-weight: 400;
    color: var(--primory);
    margin: 0;
    padding-top: 24px;
}

.checkbox-input {
    width: 24px;
    height: 24px;
    margin: 24px 1rem 0 0;
}

.previous-btn {
    width: 165px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: var(--primory);
    background-color: var(--info);
    border: 1px solid rgb(0 0 0 / 30%);
    border-radius: 50px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding: 24px 0;
}

.confirm-btn {
    width: 165px;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    color: var(--background);
    background-color: var(--primory);
    border: none;
    border-radius: 50px;
}

.summary-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding-top: 24px;
}

.summary-container h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primory);
    margin: 0;
}

.summary-text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primory);
    margin: 0;
    padding-top: 1rem;
    width: 350px;
}

.total-sum-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    margin: 0;
}

.total-sum {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primory);
    margin: 0;
    padding-top: 24px;
}

/* Small (sm) */
@media (min-width: 640px) {
}

/* Medium (md) tablet */
@media (min-width: 768px) {
    .media-size {
        width: 100%;
    }

    .nav-menu-mob {
        display: none;
    }

    .nav-menu-tab {
        display: block;
    }

    .nav-btn {
        width: 140px;
        height: 56px;
        background-color: var(--background);
        color: var(--primory);
        border: none;
        font-size: 20px;
        font-weight: 600;
    }

    .nav-tours {
        width: 140px;
        height: 40px;
        background-color: var(--primory);
        color: var(--background);
        border: none;
        font-size: 20px;
        font-weight: 600;
        border-radius: 50px;
    }

    .tb-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 720px;
        height: 270px;
        padding: 0;
        margin-bottom: 24px;
        background-color: var(--background);
    }

    #tb-row-two {
        margin-bottom: 0;
    }

    .book-img {
        width: 100%;
        height: 350px;
    }

    #payment-btn {
        bottom: 20px;
        left: 150px;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
}

/* xLarge (xl) desktop */
@media (min-width: 1280px) {
    .media-size {
        width: 100%;
    }

    footer {
        flex-direction: row;
    }

    .footer-sections {
        width: 270px;
    }

    .tb-row {
        margin: 0;
        width: 564px;
    }

    #tb-row-two {
        margin-left: 24px;
    }

    .book-img {
        width: 100%;
        height: 400px;
    }

    #payment-btn {
        bottom: 20px;
        left: 150px;
    }
}

/* xxLarge (xxl) */
@media (min-width: 1536px) {
}
